



.position  {
    text-align: center;
    position: relative; top: -130px;
    color: coral;
    background-size: cover;
   
}

.manage4 {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    
}

.login3 {
    position: relative; top: -120px;
    font-weight: 900;

}

.home3 {
    position: relative; top: -120px;
    font-weight: 900;
}


#My {
    background-color:coral;
}

#Add {
    background-color:coral;
}

#Edit {
    background-color: coral;
    width:90px;
}

#Remove {
    background-color: coral;
}

table, td, th {
    border: 1px solid black;
}

#table1 {
    border-collapse: collapse;
    margin-top: 25px;
    margin-left: 35%;
    
  }

  .row1 {
    height: 25px;
    
  }
  .row2 {
    height: 25px;
    

  }
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }

  .input:checked ~ .checkmark:after {
    display: block;
  }

  .checkmark:after {
    top: 9px;
   left: 9px;
   width: 8px;
   height: 8px;
   border-radius: 50%;
   background: white;
}

#Schedule4 {

    margin-left: 45%;
    background-color: coral;
    margin-top: 25px;

}
