
.position {

    margin-left: 0;
    color: coral;
    
   
}

.login3 {
    color:azure;
    list-style: none;
    font-weight: 900;
    margin-right: -850px;
    position: relative; top: -110px;
}

.home3 {
    color:azure;
    list-style: none;
    font-weight: 900;
    margin-left: 950px;
    position: relative; top: -110px;
}

#vet {
    width: 183px;
    height: 40px;
    margin-left: 64px;
    margin-top: 10px;
    background-color: coral;
    font-size: smaller;
    font-weight: 600;
    position: relative; top: -547px;

}

.rest_body {
    margin-top: -100px;
    /* background-image: url("flag2.jpg"); */
    height: 500px;
    
}

#blacksmith {
    width: 183px;
    margin-top: 25px;
    margin-left: 64px;
    background-color: coral;
    position: relative; top: -549px;

}

#show {
    width: 183px;
    margin-top: 25px;
    margin-left: 64px;
    background-color: coral;
    position: relative; top: -549px;
}

#date {
    font-weight: 900;
    color: coral;
    padding-left: 2px;
    position: relative; top: -550px;
}

#image {
    height:600px
}

#vet:hover {background-color: chartreuse;}
#blacksmith:hover {background-color: chartreuse;}
#show:hover {background-color: chartreuse;}
.login3:hover {background-color: chartreuse;}
.home3:hover {background-color: chartreuse;}