.header3 {
    /* background-image: url("horse5.jpg"); */
    height: 200px;
    postion: center;
    
    /* display: flex;
    justify-content:center; */
}

.stable3{
    /* display: flex; */
    text-align: center;
    padding-top: 25px;
    color: darkgoldenrod;
    
}

.content3{

display: flex;
color:coral;
justify-content: end;
font-weight: bold;

}

.login3 {
    
    display: flex;
    margin-right: 15px;
   
}

.home3 {
    display: flex;
    
}

.logout {
    
    position: relative; top: -120px;
    list-style: none;   
}

.manage_horse {
    margin-top: 50px;
    position: relative; top: -110px;
   width: 200px;
   height: 30px;
   margin-left: 47%;
    
}

 #word {
    width:200px;
    height: 30px;
    
    background-color: bisque;
    color:coral; 
    border: 2px solid coral;
 }



.manage_schedule {
    margin-top: 50px;
    
   width: 200px;
   height: 30px;
   margin-left: 45%;

}

#word3 {
    margin-top: 10px;
    position: relative; top: -111px;
    width:200px;
    height: 30px;
    background-color: bisque;
    color:coral;
    margin-left: 47%;
    border: 2px solid coral;
    
}

.image3  {

margin-left: 900px;
position: relative; top: -180px;


}

.fact {
    position: relative; top: -600px;
    color:darkgoldenrod

}